spring:
  application:
    name: "gatewayserver"

  config:
    import: "optional:configserver:http://localhost:8071/"

  cloud:
    gateway:
      server: # Cấp độ mới được giới thiệu
        webflux: # Chỉ định rõ đây là WebFlux Gateway
          discovery:
            locator:
              enabled: false
              lower-case-service-id: true
          httpclient:
            connect-timeout: 1000
            response-timeout: 5s
  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: "http://localhost:8070/realms/Develop/protocol/openid-connect/certs"

management:
  endpoints:
    web:
      exposure:
        include: "*"

  health:
    readiness-state:
      enabled: true
    liveness-state:
      enabled: true
  endpoint:
    health:
      probes:
        enabled: true
    gateway:
      access: unrestricted
#      enabled: true

  info:
    env:
      enabled: true

endpoints:
  shutdown:
    enabled: true

build:
  version: "1.0"

info:
  app:
    name: "gateway"
    description: "LG Bank Api Gateway Application"
    version: "1.0.0"

resilience4j:
  circuitbreaker:
    configs:
      default:
        slidingWindowSize: 10
        permittedNumberOfCallsInHalfOpenState: 2
        failureRateThreshold: 50
        waitDurationInOpenState: 10000
  timelimiter:
    configs:
      default:
        timeoutDuration: 10s
logging:
  pattern:
    level: "%5p [${spring.application.name},%X{trace_id},%X{span_id}]"





